{% extends "registration/base.html" %}

{% load i18n jazzy_tabler %}
{% get_jazzy_ui_tweaks as jazzy_ui %}

{% block content %}
    <h2 class="h2 text-center mb-4">{% trans 'Password reset complete' %}</h2>
    <p class="text-secondary text-center mb-4">
        {% trans "Your password has been set. You may go ahead and log in now." %}
    </p>
    <div class="form-footer">
        <a href="{{ login_url }}" class="btn {{ jazzy_ui.button_classes.primary }} w-100">
            {% trans 'Log in' %}
        </a>
    </div>
{% endblock %}
