{% extends "registration/base.html" %}

{% load i18n jazzy_tabler %}
{% get_jazzy_ui_tweaks as jazzy_ui %}

{% block content %}
    <h2 class="h2 text-center mb-4">{% trans 'Forgot password?' %}</h2>
    <p class="text-secondary text-center mb-4">
        {% blocktrans trimmed %}
            Enter your email address below, and we'll
            email instructions for setting a new one.
        {% endblocktrans %}
    </p>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            {% if form.email.errors %}
                <div class="alert alert-danger">
                    {{ form.email.label }}: {{ form.email.errors|join:', ' }}
                </div>
            {% endif %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <p class="mb-0">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        <div class="mb-3">
            <label class="form-label" for="id_email">{{ form.email.label }}</label>
            <div class="input-icon">
                <span class="input-icon-addon">
                    <i class="fas fa-envelope"></i>
                </span>
                <input type="email" name="email" id="id_email" class="form-control" placeholder="{{ form.email.label }}" autocomplete="email" required>
            </div>
        </div>
        <div class="form-footer">
            <button type="submit" class="btn {{ jazzy_ui.button_classes.primary }} w-100">
                {% trans 'Reset my password' %}
            </button>
        </div>
    </form>
{% endblock %}
