{% load i18n jazzy_tabler %}
{% get_jazzy_ui_tweaks as jazzy_ui %}

{% if show %}
<div class="col-12 pb-4" id="change-list-date-hierarchy">
    <div class="btn-group btn-group-sm date-hierarchy" role="group" aria-label="{% trans 'Date hierarchy' %}">
        {% block date-hierarchy-toplinks %}
            {% block date-hierarchy-back %}
                {% if back %}
                    <a class="btn btn-outline-secondary" href="{{ back.link }}">&lsaquo;&nbsp;{{ back.title }}</a>
                {% endif %}
            {% endblock %}
            {% block date-hierarchy-forward %}
                {% if forward %}
                    <a class="btn btn-outline-secondary" href="{{ forward.link }}">{{ forward.title }}&nbsp;&rsaquo;</a>
                {% endif %}
            {% endblock %}
        {% endblock %}
        {% block date-hierarchy-choices %}
            {% for choice in choices %}
                <a {% if choice.link %}href="{{ choice.link }}"{% endif %}
                   class="btn btn-outline-primary{% if not choice.link %} active{% endif %}"
                   {% if not choice.link %}aria-current="true"{% endif %}>
                    {{ choice.title }}
                </a>
            {% endfor %}
        {% endblock %}
    </div>
</div>
{% endif %}
